/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  font-family: 'Muli', sans-serif;
}
#conversation {
  width: 290px;
  height: 200px;
  background-color: rgb(170, 246, 221);
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 5px;

}

#chat{
  width: 300px;
  height: 480px;
  background-color: rgb(12, 217, 177);
  border:rgb(45, 186, 161) 8px solid;
  border-radius: 8px;
  margin: auto;
}
 #send {
   width: 70px;
height: 40px;
   display: flex;
   margin: auto;
 }


 input {
   width: 82px;
   display: block;
   margin: auto;
 }


 #pseudo, #write {
   margin: 0 !important;
   width: 287px;
 }

h1 {
  color:rgb(45, 186, 161);
  text-align: center;
  margin:0px;
}

img {
  margin: auto;

  width: 100px;
  display: flex;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: 768px) {
#chat {
width: 600px;
margin-top: 80px;
}

#conversation {
  width: 585px;
  margin: auto;

}

#send {

  width: 70px;
  height: 50px;
}

#pseudo {
  width: 150px;
}

#write {
  width: 350px;
}

#input {
  display: inline-flex;
}


}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
